<h1 id='title'> Data Science Practice </h1>

In [1]:
import pandas as pd

In [4]:
excel_file='DataFromIBM.xlsx'
df=pd.read_excel(excel_file)
df

,Artist,Album,Released (Year),Length,Genre,Music recording sales (millions),Claimed sales (millions),Release Date,Soundtrack,Rating (friends)
0,Michael Jackson,Thriller,1982,1900-01-01 00:41:54,"Pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,1900-01-01 00:41:46,Hard rock,26.1,50,1980-07-25,NaN,8.5
2,Pink Floyd,The Dark Side of the Moon,1973,1900-01-01 00:42:24,Progressive rock,24.2,45,1973-03-01,NaN,9.5
3,Whitney Houston,The Bodyguard,1992,1900-01-01 00:57:19,"Soundtrack/R&B, soul, pop",26.1,50,1980-07-25,Y,7.0
4,Meat Loaf,Bat Out of Hell,1977,1900-01-01 00:46:08,"Hard rock, progressive rock",20.6,43,1977-10-21,NaN,7.0
5,Eagles,Their Greatest Hits (1971-1975),1976,1900-01-01 00:42:43,"Rock, soft rock, folk rock",32.2,42,1976-02-17,NaN,9.5
6,Bee Gees,Saturday Night Fever,1977,1900-01-01 01:15:29,Disco,20.6,40,1977-11-15,Y,9.0
7,Fleetwood Mac,Rumours,1977,1900-01-01 00:39:36,Soft rock,27.9,40,1977-02-04,NaN,9.5

In [6]:
df.head(0)

Empty DataFrame
Columns: [Artist, Album, Released (Year), Length, Genre, Music recording sales (millions), Claimed sales (millions), Release Date, Soundtrack, Rating (friends)]
Index: []

In [8]:
x=df[['Length']]
x

               Length
0 1900-01-01 00:41:54
1 1900-01-01 00:41:46
2 1900-01-01 00:42:24
3 1900-01-01 00:57:19
4 1900-01-01 00:46:08
5 1900-01-01 00:42:43
6 1900-01-01 01:15:29
7 1900-01-01 00:39:36

In [9]:
x=df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [10]:
df.iloc[0,0]

'Michael Jackson'

<h2 id="quiz"> Quiz on dataframe </h2>

In [25]:
q=df[['Rating (friends)']]
q

   Rating (friends)
0              10.0
1               8.5
2               9.5
3               7.0
4               7.0
5               9.5
6               9.0
7               9.5

In [29]:
q=df[['Released (Year)','Artist']]
q

   Released (Year)           Artist
0             1982  Michael Jackson
1             1980            AC/DC
2             1973       Pink Floyd
3             1992  Whitney Houston
4             1977        Meat Loaf
5             1976           Eagles
6             1977         Bee Gees
7             1977    Fleetwood Mac

In [30]:
df.iloc[1,2]

1980

In [36]:
new_index=['a','b','c','d','e','f','g','h']

df_new=df
df_new.index=new_index
df_new
# df_new.loc['a','Artist']
# df_new.loc['a':'d','Artist']

,Artist,Album,Released (Year),Length,Genre,Music recording sales (millions),Claimed sales (millions),Release Date,Soundtrack,Rating (friends)
a,Michael Jackson,Thriller,1982,1900-01-01 00:41:54,"Pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
b,AC/DC,Back in Black,1980,1900-01-01 00:41:46,Hard rock,26.1,50,1980-07-25,NaN,8.5
c,Pink Floyd,The Dark Side of the Moon,1973,1900-01-01 00:42:24,Progressive rock,24.2,45,1973-03-01,NaN,9.5
d,Whitney Houston,The Bodyguard,1992,1900-01-01 00:57:19,"Soundtrack/R&B, soul, pop",26.1,50,1980-07-25,Y,7.0
e,Meat Loaf,Bat Out of Hell,1977,1900-01-01 00:46:08,"Hard rock, progressive rock",20.6,43,1977-10-21,NaN,7.0
f,Eagles,Their Greatest Hits (1971-1975),1976,1900-01-01 00:42:43,"Rock, soft rock, folk rock",32.2,42,1976-02-17,NaN,9.5
g,Bee Gees,Saturday Night Fever,1977,1900-01-01 01:15:29,Disco,20.6,40,1977-11-15,Y,9.0
h,Fleetwood Mac,Rumours,1977,1900-01-01 00:39:36,Soft rock,27.9,40,1977-02-04,NaN,9.5